.purchase {
  padding: 2rem;
  text-align: center;
  background-color: #f3f3f3;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  max-width: 600px;
  margin: 2rem auto;
  min-height: calc(100vh - 259px);
}

.purchase h1 {
  font-size: 2.5rem;
  margin-bottom: 1rem;
  color: #1a1a1a;
}

.purchaseList {
  list-style: none;
  padding: 0;
  margin: 1rem 0;
  color: #1a1a1a;
}

.purchaseItem {
  margin-bottom: 1rem;
  padding: 1rem;
  border-bottom: 1px solid #ccc;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.purchaseItem img {
  max-width: 100px;
  margin-right: 10px;
  border-radius: 4px;
}

.cantidadInput {
  width: 60px;
  padding: 0.5rem;
  font-size: 1rem;
  text-align: center;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.purchase p {
  font-size: 1.5rem;
  margin-top: 1rem;
  font-weight: bold;
  color: #1a1a1a;
}

button {
  color: white;
}

.purchaseButton {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  background-color: #1a1a1a;
  color: white;
  cursor: pointer;
  transition: border-color 0.25s;
  margin-top: 1rem;
}

.purchaseButton:hover {
  border-color: #646cff;
}

.removeItemButton {
  border: none;
  background-color: #d00000;
  color: white;
  border-radius: 4px;
  padding: 0.5rem 1rem;
  cursor: pointer;
}

.removeItemButton:hover {
  background-color: #c0392b;
}
