.footer {
    background-color: #1a1a1a;
    color: white;
    padding: 10px 20px;
    text-align: center;
    position: fixed;
    width: 100%;
    bottom: 0;
  }
  
  .footer p {
    margin: 0;
  }
  