
.header {
  background-color: #1a1a1a;
  color: white;
  padding: 10px 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%; 
  box-sizing: border-box; 
  overflow-x: hidden; 
  margin: 0; 
}

.navLinks {
  display: flex;
  gap: 15px;
  align-items: center;
}

.navLinks a, .navLinks button {
  color: white;
  text-decoration: none;
  background: none;
  border: none;
  cursor: pointer;
  font-weight: bold;
  font-size: 16px;
}

.navLinks .buttonLink {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  background-color: #072ac8;
  transition: border-color 0.25s;
}

.buttonLink {
  color: #1a1a1a ;
}

.logo {
  font-size: 24px;
  font-weight: bold;
}

.logo img {
  width: auto;
  max-width: 100%;
  height: 50px; 
  object-fit: contain;
  margin: 0; 
}
