.profile {
  padding: 20px;
  max-width: 800px;
  margin: 25px auto;
  background-color: #2c2c2c;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  color: #ffffff;
}

.profile h1 {
  text-align: center;
  margin-bottom: 20px;
}

.section {
  margin-bottom: 30px;
}

.form {
  background-color: #333333;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.form h2 {
  margin-top: 0;
}

.form label {
  display: block;
  margin: 10px 0;
}

.form input {
  width: calc(100% - 22px);
  padding: 10px;
  margin-top: 5px;
  border: 1px solid #555555;
  border-radius: 4px;
  background-color: #444444;
  color: #ffffff;
}

.form input:focus {
  outline: none;
  border-color: #777777;
}

.updateButton {
  display: inline-block;
  margin-top: 10px;
  padding: 10px 20px;
  background-color: #072ac8;
  color: #ffffff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.updateButton:hover {
  background-color: #0056b3;
}

.purchaseHistory {
  margin-top: 20px;
}

.purchaseList {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  list-style-type: none;
  padding: 0;
}

.purchaseItem {
  flex: 1 1 calc(33.333% - 20px);
  margin: 10px 0;
  padding: 10px;
  border: 1px solid #444444;
  border-radius: 8px;
  background-color: #3a3a3a;
  color: #ffffff;
  display: flex;
  align-items: center;
}

.eventImage {
  max-width: 100px;
  margin-right: 20px;
  border-radius: 5px;
}
